{% extends '::base.html.twig' %}

{% block body %}
    <h1>New Event</h1>

    <form action="{{ path('event_new') }}" method="POST">
        {{ form_widget(form) }}

        <input type="submit" value="Go!" />
    </form>
{% endblock %}
